{% extends "base_website.html" %}

{% block content %}
<div>
    <div>
        <h1>{{ info.label }}</h1><i> {{ info.desc }} </i>
    </div>

    <button type="button" id="btn">...</button>
    <a href="{{ btsync_server }}">go to BT-Sync page {{ btsync_server }}</a>
    <br>
    <hr>
    <p id="p_jsresponse">...</p>
</div>

{% endblock %}

{% block sidebar %}

<script>
</script>
{%comment%}scripts put in the side bar block, but this is just a workaround to get the scripts working{%endcomment%}
{% endblock %}




