{% extends "base_website.html" %}

{% block content %}
<div>
    <div>
        <h1>{{ info.label }}</h1><i> {{ info.desc }} </i>
    </div>
    <br>
    <hr>
    <button class="btn" onclick="insert_chart(this, div_chart, '/datalog_app/highchart', {})">Load Chart</button>
    <div class="col-lg-10" id="div_chart">
    </div>

</div>

{% endblock %}



{% block sidebar %}

<script>
//insert generic chart
function insert_chart(btn, div, url, data){
    $(div).html('')
    _ajax(btn=btn, url=url, data=data
        , success=function(data, textStatus, jqXHR){
            xxx=data
            latest_id=data['mx']
            raw = data['data']
            evaluated = eval('(' + raw + ')')
            if ("error" in evaluated){
                alert("server error in creating the dataset ")
            }
            var wrapper= document.createElement('div');
            wrapper.style.cssText = "min-width: 310px; height: 400px; margin: 0 auto";
            $(div)[0].appendChild(wrapper)
            $(wrapper).highcharts(evaluated);

            var msg= document.createElement('p');
            msg.innerHTML = '<font data-toggle="tooltip" data-placement="left" title="' + data['msg'] + 'sdf">details</font>'
            btn = $(btn)
            btn.parent()[0].appendChild(msg)
            }
        , error=undefined
    )
}

function highchart_update(series){
    _ajax(btn="", url='/datalog_app/highchart_update', data={"start_id":latest_id + 1}
        , success=function(data, textStatus, jqXHR){
            if (data.mx > 0){
                console.log("new data")
                latest_id = data.mx
                var serLength = series.length;
                xxxx = data
                for (var i = 0; i < serLength; i++) {
                    serie = series[i];
                    if (serie.name in data.data){
                        var lis = data.data[serie.name]
                        var arrayLength = lis.length;
                            for (var j = 0; j < arrayLength; j++) {
                                serie.addPoint([eval(lis[j][0]), lis[j][1]]);
                            }
                        }
                    else {
                        }
                    }
                }
            else {
                console.log("no new data")
                }
            }

        , error=undefined
    )
}



</script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{%comment%}scripts put in the side bar block, but this is just a workaround to get the scripts working{%endcomment%}
{% endblock %}



