{% extends "base_website.html" %}

{% block content %}
<div>
    <div>
        <h1>{{ info.label }}</h1><i> {{ info.desc }} </i>
    </div>
    <br>
    <hr>
    <button class="btn" onclick="insert_chart(this, div_chart, '/datalog_app/highchart', {})">Load Chart</button>
    <div class="col-lg-10" id="div_chart">
    </div>
    <div class="col-lg-10" id="div_table">
    </div>

</div>

{% endblock %}



{% block sidebar %}

<script>
//insert generic chart
function insert_chart(btn, div, url, data){
    $(div).html('')
    _ajax(btn=btn, url=url, data=data
        , success=function(data, textStatus, jqXHR){
            xxx=data
            latest_id=data['mx']
            raw = data['data']
            evaluated = eval('(' + raw + ')')
            if ("error" in evaluated){
                alert("server error in creating the dataset ")
            }
            var wrapper= document.createElement('div');
            wrapper.style.cssText = "min-width: 310px; height: 400px; margin: 0 auto";
            $(div)[0].appendChild(wrapper)
            $(wrapper).highcharts(evaluated);
            $(btn).remove()
            }
        , error=undefined
        , timeout=180000
    )
}

loops_since_last_update = 0

function highchart_update(series){
    loops_since_last_update += 1
    console.log('ajax request...')
    _ajax(btn="", url='/datalog_app/highchart_update', data={"start_id":latest_id + 1}
        , success=function(data, textStatus, jqXHR){
            if (data.mx > 0){
                loops_since_last_update = 0
                console.log("new data " + data.mn + "->" + data.mx)
                latest_id = data.mx
                var serLength = series.length;
                xxxx = data
                update_table(data.data)
                $("#div_table").css('opacity', 1)
                for (var i = 0; i < serLength; i++) {
                    serie = series[i];
                    if (serie.name in data.data){
                        var lis = data.data[serie.name]
                        var arrayLength = lis.length;
                            for (var j = 0; j < arrayLength; j++) {
                                serie.addPoint([eval(lis[j][0]), lis[j][1]]);
                            }
                        }
                    else {
                        }
                    }
                }
            else {
                console.log("no new data")
                }
            }
        , error=undefined
        , timeout=15000
    )
    $("#div_table").css('opacity', Math.max(1 - loops_since_last_update/5, 0.1) )

}

function update_table(data){
    $('#div_table').html('')
    tbl = ""
    tbl += "<table align='center' style='width:95%'>"
    tbl += "<tr>"
    for (var key in data) {
        if (data.hasOwnProperty(key) && key.indexOf("-avg")!=-1)  {
            var v = data[key]
            tbl += "<td align='center'>"
            tbl += "<h3>" + key + "</h3>" + "<br>" + ""
            //todo: take the last item instead of the first item
            tbl += "<h1>" + Math.round(v[0][1]*10000)/10000 +"</h1>"
            tbl += "<h6>" + v[0][0] + "</h6>"
            tbl += "</td>"
      }
    }
    tbl += "</tr>"
    tbl += "</table>"
    var wrapper = document.createElement('div');
    wrapper.style.marginLeft="-20px"
    wrapper.style.marginRight="-20px"
    wrapper.innerHTML = tbl
    $('#div_table')[0].appendChild(wrapper);
}

</script>

<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>

{%comment%}scripts put in the side bar block, but this is just a workaround to get the scripts working{%endcomment%}
{% endblock %}



