{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <h2>welcome to RECORD home</h2>
        <button type="button" id="">see recent data</button>
        <button type="button" id="">do somthing else</button>
    </div>
    <br>
    <hr>
    <p id="p_jsresponse">...</p>
</div>

{% endblock %}

{% block sidebar %}
{%comment%}scripts put in the side bar block, but this is just a workaround to get the scripts working{%endcomment%}

<script>

</script>
<style>
.key{
    color:blue
}
.string{
    color:green;
}
</style>
{% endblock %}



