{% extends "base_website.html" %}

{% block content %}

<div>
    <div>
        <h1>{{ info.label }}</h1><i> {{ info.desc }} </i>
    </div>
    <br>
    <br>
    <div style="width: 50%; float:left; ">
        <h2>Commands</h2>
        <table style="width:100%">
            <col width="25%">
            <col width="75%">
            {% for d in lis_signals %}
                <tr>
                    <td><button type="button" id="btn_{{ d.name }}" style="width: 100%">send {{ d.btn }}</button></td>
                    <td>{{ d.desc }}</td>
                </tr>
            {% endfor %}
            {% with "get_files recent_events" as lis %}
                {% for s in lis.split %}
                <tr>
                    <td><button type="button" id="btn_{{ s }}">{{ s }}</button></td>
                    <td>some explanations</td>
                </tr>
                {% endfor %}
            {% endwith %}
        </table>
        <br>
        <br>
        {% autoescape off %}
        <div>

            <h2>Documentation</h2>
            <p>This app runs another software called <a href="http://www.lavrsen.dk/foswiki/bin/view/Motion/WebHome">motion</a></p>

            <h3>Definitions</h3>
            <ul>
                <li><h4>Motion</h4>
                    <p>The app processes the images of the camera, when there is a change in the images of more than {{motion_conf.threshold.h}} pixels, for {{motion_conf.minimum_motion_frames.h}} frames in a row, then a motion is detected.</p>
                </li>
                <li><h4>Event</h4>
                <p>An event is a series of motions that occure within a small timeframe. The event ends when there is no motion for {{motion_conf.gap.h}} seconds</p>
                </li>
            </ul>
            <h3>Services</h3>
            <ul>

                <li>
                    <h4>
                    motion-triggered video files
                    {% if "on" %} &#10004; {% else %} x {% endif %}
                    </h4>

                    <p>The app records the motions from {{motion_conf.pre_capture.h}} frames before the motion, till {{motion_conf.post_capture.h}} frames after the motion.
                    </p>
                    <p>
                       Motions that are close to each other (i.e. within the same event) are saved in one file
                    </p>
                    <p>
                       The maximum length of a movie is {{motion_conf.max_mpeg_time.h}} seconds. If the value is 0 then the maximum length is infinite
                    </p>
                    <p>
                       The {{motion_conf.ffmpeg_video_codec.h}} codec is used to save the file
                       Files are saved in the with name {{motion_conf.movie_filename.h}} in the {{motion_conf.target_dir.h}} directoy
                    </p></li>

                <li>
                    <h4>
                    motion-triggered images
                    {% if motion_conf.output_normal.v != "off" %} &#10004; {% else %} x {% endif %}
                    </h4>
                <p>If {{motion_conf.output_normal.h}} is on, the images where motion is detected are saved.
                    If it's off, they are not saved, If it's first, then the first image of an event is saved,
                    If it's best, then the picture of the most motion in an event is saved.
                    If it's center, then the image with the motion close to the center is saved. Files are named {{motion_conf.jpeg_filename.h}}.
                </p>
                <p>If {{motion_conf.output_motion.h}} is on, then only the pixels with the moving objects are saved (ghost images)
                </p></li>

                <li>
                    <h4>
                    livestream
                    {% if "on" %} &#10004; {% else %} x {% endif %}
                    </h4>
                   Live stream of the camera is also provided on port {{motion_conf.webcam_port.h}}, access to this could be restricted to localhost if {{motion_conf.webcam_localhost.h}} is on.
                   If {{motion_conf.webcam_motion.h}} is on, then the output stream will be at 1 fps when there is no motion and when there is motion, it goes back up to {{motion_conf.webcam_maxrate.h}}
                </li>

                <li>
                    <h4>
                    control configuration
                    {% if "on" %} &#10004; {% else %} x {% endif %}
                    </h4>

                   <p>on port {{motion_conf.control_port.h}} the configuration of the motion software can be accessed, this is also restricted to localhost if {{motion_conf.control_localhost.h}} is on
                   </p></li>

                <li>
                    <h4>
                    timelapse
                    {% if motion_conf.ffmpeg_timelapse.v != 0 %} &#10004; {% else %} x {% endif %}
                    </h4>
                <p>if {{motion_conf.ffmpeg_timelapse.h}}is not 0, timelapse will be on and the period between the shots is {{motion_conf.ffmpeg_timelapse.h}} seconds. Files are named {{motion_conf.timelapse_filename.h}}</p></li>

                <li>
                    <h4>
                    snapshots
                    {% if motion_conf.snapshot_interval.v != 0 %} &#10004; {% else %} x {% endif %}
                    </h4>
                <p>if {{motion_conf.snapshot_interval.h}}is not 0, snapshots will be on and the period between the shots is {{motion_conf.snapshot_interval.h}} seconds.
                Files are named{{motion_conf.snapshot_filename.h}}
                </p></li>

            </ul>
        </div>
        {% endautoescape %}
    </div>
    <div style="width: 50%; float:left; ">
        <div>
            <img id="img_stream" style="width: 90%">
        </div>

        <div>
            <td><button type="button" id="btn_start_stream" style="width: 50%">start stream</button></td>
        </div>
        <div>
            <h2> >>  </h2>
            <p id="p_jsresponse">...</p>
            <h2> <<  </h2>
        </div>

        <div>
            <link type="text/css" href="/static/css/example.css" rel="stylesheet" />
            <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
            <script type="text/javascript" src="http://static.mentful.com/gantt-chart-d3v21.js"></script>
            <script type="text/javascript" src="/static/js/example2.js"></script>
        </div>
    </div>
    <button type="button" id="btn_gantt" style="width: 100%" onclick="loadGantt()">load gantt</button>

</div>

{% endblock %}

{% block sidebar %}{% comment %}scripts put in the side bar block, but this is just a workaround to get the scripts working{% endcomment %}

<script>
function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

function make_click_function(url, sdata){
    function func(){
        var btn =  $(this)
        btn.prop('disabled', true);

        $.ajax({
            url: url,
            data: sdata,
            success: function (data, textStatus, jqXHR) {
                if ('error' in data) {
                    alert("server error for " + url + data['error'])
                }
                d = data
                var p_update = $('#p_jsresponse')
                var s = JSON.stringify(data, undefined, 4).replace(/(?: )/g, '&nbsp;').replace(/(?:\r\n|\r|\n)/g, '<br />');
                p_update.html("<pre><code>" + s + "</code></pre>")
                btn.prop('disabled', false);


            },
            error: function (err) {
                e = err
                alert("ajax error for " + url + " error = " + err)
                btn.prop('disabled', false);
            }

        });
    }
    return func
}

// assigning click functions to buttons

{% for d in lis_signals %}
    $("#btn_{{ d.name }}").click(make_click_function("/motion_app/send_signal", { "cmd": "{{d.name}}" }))
{% endfor %}

$("#btn_recent_events").click(make_click_function("/motion_app/recent_events", {"name":"all"}))
$("#btn_get_files").click(make_click_function("/motion_app/get_files"))

$("#btn_start_stream").click(function (){
    var img = $('#img_stream');
    img[0].setAttribute('src',"{{ stream_address }}");
    var btn = $("#btn_start_stream")
    btn.remove()
        }
)

</script>
<style>
code {
    color: blue
}
</style>
{% endblock %}



