{% extends "base_website.html" %}

{% block content %}
<div>
    <div>
        <h1>{{ info.label }}</h1><i> {{ info.desc }} </i>
    </div>
    <br>
    <br>
    <h2>OUTPUT PINS</h2>
    <table style="width:100%">
        <col width="5%">
        <col width="10%">
        <col width="5%">
        <col width="5%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col>
        {% for gpio in gpio_list %}
            {% if gpio.iou == 'out' %}
                <tr>
                    <td>{{ gpio.pin }}</td>
                    <td>{{ gpio.label }}</td>
                    <td>{{ gpio.iou }}</td>
                    <td class="lowhigh">{{ gpio.lowhigh }}</td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'unset'})">unset</button></td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'refresh'})">refresh</button></td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'setlow'})">set low</button></td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'sethigh'})">set high</button></td>
                    <td class="msg">...</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <br>
    <h2>INPUT PINS</h2>
    <table style="width:100%">
        <col width="5%">
        <col width="10%">
        <col width="5%">
        <col width="5%">
        <col width="10%">
        <col width="10%">
        <col>
        {% for gpio in gpio_list %}
            {% if gpio.iou == 'in' %}
                <tr>
                    <td>{{ gpio.pin }}</td>
                    <td>{{ gpio.label }}</td>
                    <td>{{ gpio.iou }}</td>
                    <td class="lowhigh">{{ gpio.lowhigh }}</td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'unset'})">unset</button></td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'refresh'})">refresh</button></td>
                    <td class="msg">...</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <br>
    <h2>UNSET PINS</h2>
    <table style="width:100%">
        <col width="5%">
        <col width="10%">
        <col width="5%">
        <col width="10%">
        <col width="10%">
        <col>
        {% for gpio in gpio_list %}
            {% if gpio.iou == 'unset' %}
                <tr>
                    <td>{{ gpio.pin }}</td>
                    <td>{{ gpio.label }}</td>
                    <td>{{ gpio.iou }}</td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'setasinput'})">set as input</button></td>
                    <td><button onclick="control(this, {'pin': '{{ gpio.pin }}', 'cmd': 'setasoutput'})">set as output</button></td>
                    <td class="msg">...</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <br>
    <div id="p_log">
    </div>
</div>

{% endblock %}

{% block scripts %}
{%comment%}scripts put in the side bar block, but this is just a workaround to get the scripts working{%endcomment%}

<script>

function control(btn, data){
    var btn = $(btn)
    btn.prop('disabled', true);

    $.ajax({
        url: "{% url "gpio_app.views.control" %}",
        data: data,
        success: function (data, textStatus, jqXHR) {
            if ('error' in data) {
                btn.parent().parent().find('.msg').html("server error: " + d["error"]);
                alert("server error for " + url + data['error'])
            }
            d = data
            btn.prop('disabled', false);
            btn.parent().parent().find('.msg').html(d["msg"]);
            btn.parent().parent().find('.lowhigh').html(d["lowhigh"]);

            var log = document.createElement('p');
            log.innerHTML = d["msg"];
            $("#p_log")[0].appendChild( log )

        },
        error: function (err) {
            e = err
            btn.parent().parent().find('.msg').html("ajax error");
            alert("ajax error for " + url + " error = " + err)
            btn.prop('disabled', false);
        }

    });
}

</script>
{% endblock %}



