{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <h2>welcome to GPIO_APP home</h2>
        <button type="button" id="">view configuration</button>
        <button type="button" id="">do somthing else</button>
    </div>
    <br>
    <hr>
    <table style="width:100%">
        {% for gpio in gpio_list %}
            <tr>
                <td>{{ gpio.pin }}</td>
                <td>{{ gpio.io }}</td>
                <td>{{ gpio.status }}</td>
                <td><button id="btn_gpio_app_{{ gpio.pin }}_toggle">toggle</button></td>
                <td><button id="btn_gpio_app_{{ gpio.pin }}_refresh">refresh</button></td>
            </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}

{% block sidebar %}
{%comment%}scripts put in the side bar block, but this is just a workaround to get the scripts working{%endcomment%}

<script>

</script>
{% endblock %}



