{% extends "base_website.html" %}

{% block content %}

<div>
    <h2>you do not have any configuration installed, put your configuration here</h2>
    <div class="controls" style="width: 100%">
        <textarea id="ta_datalog" style="background-color:white; width:100%; height:200px" placeholder="{query for data}"></textarea>
    </div>
    <h2>OR fill in the git url</h2>
    <div class="controls" style="width: 100%">
        <textarea id="ta_datalog" style="background-color:white; width:100%; height:200px" placeholder="{query for data}"></textarea>
    </div>
    <h2>and the git path to the conf file</h2>
    <div class="controls" style="width: 100%">
        <textarea id="ta_datalog" style="background-color:white; width:100%; height:200px" placeholder="{query for data}"></textarea>
    </div>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}


