{% extends "base_website.html" %}

{% block content %}

<div>
    <h1>No configuration installed on this device. There are two ways to configure this device:</h1>
    <hr>
    <h2>1) SSH into this device and create the configuration file '/home/pi/rpislave/conf.json' then reboot</h2>
    <hr>
    <h2>2) Copy-paste the json configuration file text in the box below, and click on submitt configuration</h2>
    <div class="controls" style="width: 100%">
        <textarea id="confjson" style="background-color:white; width:100%; height:200px" placeholder="configuration json file"> {% if str_conf %} {{ str_conf }} {% else %} {% endif %} </textarea>
    </div>
    <button type="button" onclick="submitt_conf(this)">submitt configuration</button>
    <hr>
</div>

{% endblock %}

{% block sidebar %}
{% endblock %}


{% block scripts %}
<script>

function submitt_conf(ths){
    _ajax(btn=ths, url='/set_conf/', data={"str_conf":confjson.value}
        , success=function(data, textStatus, jqXHR){
            }
        , error=undefined
    )
}


</script>
{% endblock %}
