{% extends "base.html" %}

{% block content %}


<div>
    <div style="width: 60%; float:left; ">
        <h2>APPS</h2>
        <table style="width:100%">
            {% for app in app_list %}
                <tr>
                    <td><h3>{{ app.label }}</h3></td>
                    <td><button type="button" id="btn_{{app.name}}_start">Start</button></td>
                    <td><button type="button" id="btn_{{app.name}}_stop">Stop</button></td>
                    <td><button type="button" id="btn_{{app.name}}_status">Status</button></td>
                    <td><a href="/{{app.name}}/"><button>app's home</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <div>
            <h2>STATUS</h2>
            <button type="button" id="btn_status_overview">Overview</button>
            <button type="button" id="btn_status_conf">Config</button>
            <button type="button" id="btn_status_temp">temp</button>
            <button type="button" id="btn_status_df">df</button>
        </div>
    </div>
    <div style="width: 40%; float:left; ">
        <h2> >>  </h2>
        <p id="p_jsresponse">...</p>
        <h2> <<  </h2>
    </div>

</div>

{% endblock %}

{% block sidebar %}{% comment %}scripts put in the side bar block, but this is just a workaround to get the scripts working{% endcomment %}

<script>
function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

function make_cmd_function(url, sdata){
    function func(){
        var btn =  $(this)
        btn.prop('disabled', true);

        $.ajax({
            url: url,
            data: sdata,
            success: function (data, textStatus, jqXHR) {
                if ('error' in data) {
                    alert("server error for " + url + data['error'])
                }
                d = data
                var p_update = $('#p_jsresponse')
                var s = JSON.stringify(data, undefined, 4).replace(/(?: )/g, '&nbsp;').replace(/(?:\r\n|\r|\n)/g, '<br />');
                p_update.html("<pre><code>" + s + "</code></pre>")
                btn.prop('disabled', false);

                if ("conf" == sdata["cmd"]){}
                else if ("overview" == sdata["cmd"]){}
                else if (data['ison'] == true) {
                    btn.parent().parent().find('h3').css('color', 'lightgreen');
                }
                else if (data['ison'] == false) {
                    btn.parent().parent().find('h3').css('color', 'red');
                }
                else {
                    btn.parent().parent().find('h3').css('color', 'black')
                }

            },
            error: function (err) {
                e = err
                alert("ajax error for " + url + " error = " + err)
                btn.prop('disabled', false);
            }

        });
    }
    return func
}

$("#btn_status_overview").click(make_cmd_function("{% url "website.views.status" %}", {"cmd":"overview"}))
$("#btn_status_conf").click(make_cmd_function("{% url "website.views.status" %}", {"cmd":"conf"}))
$("#btn_status_temp").click(make_cmd_function("{% url "website.views.get_temp" %}", {"cmd":"conf"}))
$("#btn_status_df").click(make_cmd_function("{% url "website.views.get_df" %}", {"cmd":"conf"}))

{% with cmd_list='start stop status' %}
    {% for app in app_list %}
        {% for cmd in cmd_list.split %}
            $("#btn_{{app.name}}_{{cmd}}").click(make_cmd_function("{% url "website.views.appmanage" %}", {"app":"{{app.name}}", "cmd":"{{cmd}}"}))
            {% if cmd == "status" %}
                $("#btn_{{app.name}}_{{cmd}}").click()
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endwith %}

$("#btn_status_conf").click()

</script>

<style>

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

</style>
{% endblock %}



