{% extends "base.html" %}

{% block content %}


<div>
    <div style="width: 50%; float:left; ">
        <hr>
        <div>
            <h2>STATUS</h2>
            <button type="button" id="btn_status_overview">Overview</button>
            <button type="button" id="btn_status_conf">Config</button>
            <button type="button" id="btn_status_recentdata">Recent data</button>
        </div>
        <br>
        <br>
        <hr>

        <h2>APPS</h2>
        <br>
        <table style="width:100%">
            {% for app in app_list %}
                <tr>
                    <td><h2>{{ app }}</h2></td>
                    <td><button type="button" id="btn_{{app}}_start">Start</button></td>
                    <td><button type="button" id="btn_{{app}}_stop">Stop</button></td>
                    <td><button type="button" id="btn_{{app}}_status">Status</button></td>
                    <td><a href="/{{app}}/home"><button>app's home</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
    <div style="width: 50%; float:left; ">
        <h2> >>  </h2>
        <p id="p_jsresponse">...</p>
        <h2> <<  </h2>
    </div>
    <a href="/gpio_app/home"><button>app's home</button></a>

</div>

{% endblock %}

{% block sidebar %}{% comment %}scripts put in the side bar block, but this is just a workaround to get the scripts working{% endcomment %}

<script>
function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

function make_cmd_function(url, data){
    function func(){
        var btn =  $(this)
        btn.prop('disabled', true);

        $.ajax({
            url: url,
            data: data,
            success: function (data, textStatus, jqXHR) {
                if ('error' in data) {
                    alert("server error for " + url + data['error'])
                }
                d = data
                var p_update = $('#p_jsresponse')
                var s = JSON.stringify(data, undefined, 4).replace(/(?: )/g, '&nbsp;').replace(/(?:\r\n|\r|\n)/g, '<br />');
                p_update.html("<pre><code>" + s + "</code></pre>")
                btn.prop('disabled', false);

                if (data['ison'] == true) {
                    btn.parent().parent().find('h2').css('color', 'lightgreen');
                }
                else if (data['ison'] == false) {
                    btn.parent().parent().find('h2').css('color', 'red');
                }
                else {
                    btn.parent().parent().find('h2').css('color', 'black')
                }

            },
            error: function (err) {
                e = err
                alert("ajax error for " + url + " error = " + err)
                btn.prop('disabled', false);
            }

        });
    }
    return func
}

$("#btn_status_overview").click(make_cmd_function("{% url "mng.views.status" %}", {"cmd":"overview"}))
$("#btn_status_conf").click(make_cmd_function("{% url "mng.views.status" %}", {"cmd":"conf"}))
$("#btn_status_recentdata").click(make_cmd_function("{% url "mng.views.status" %}", {"cmd":"recentdata"}))

{% with cmd_list='start stop status' %}
    {% for app in app_list %}
        {% for cmd in cmd_list.split %}
            $("#btn_{{app}}_{{cmd}}").click(make_cmd_function("{% url "mng.views.appmanage" %}", {"app":"{{app}}", "cmd":"{{cmd}}"}))
        {% endfor %}
    {% endfor %}
{% endwith %}

</script>

<style>
.key{
    color:blue
}
.string{
    color:green;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

</style>
{% endblock %}



