{% extends "base_website.html" %}

{% block content %}


<div>
    <div>
        <h1>APPS {{ request.get_host }}</h1>

        <table style="width:100%">
            {% for app in app_info %}
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="50%">
                <tr>
                    <td><h3>{% if app.label %} {{ app.label }} {% else %} {{ app.name }}{% endif %} </h3></td>
                    <td><button type="button" id="btn_{{app.name}}_start">Start</button></td>
                    <td><button type="button" id="btn_{{app.name}}_stop">Stop</button></td>
                    <td><button type="button" id="btn_{{app.name}}_status">Status</button></td>
                    <td><a href="/{{app.name}}/"><button type="button">app's home</button></a></td>
                    <td>{% if app.desc %} {{ app.desc }} {% else %} no description available{% endif %} </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <br>
    </div>
    <div>
        <div style="width: 40%; float:left; ">
            <h1>STATUS</h1>
            <table style="width:100%">
                <col width="20%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <tr>
                    <td><h4>django</h4></td>
                    <td><button type="button" id="btn_status_overview">Overview</button></td>
                    <td><button type="button" id="btn_status_conf">Config</button></td>
                    <td><button type="button" id="btn_status_update">Update</button></td>
                    <td><button type="button" id="btn_status_setup">Setup</button></td>
                </tr>
                <tr>
                    <td><h4>system info</h4></td>
                    <td><button type="button" id="btn_status_temp">temp</button></td>
                    <td><button type="button" id="btn_status_df">df</button></td>
                    <td><button type="button" id="btn_status_pstree">pstree</button></td>
                    <td><button type="button" id="btn_status_psaux">ps aux</button></td>
                </tr>
                <tr>
                    <td><h4>system actions</h4></td>
                    <td><button type="button" id="btn_status_reboot">reboot</button></td>
                </tr>
            </table>
        </div>
        <div style="width: 60%; float:left; ">
            <h2> >>  </h2>
            <p id="p_jsresponse">...</p>
            <h2> <<  </h2>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}{% comment %}scripts put in the side bar block, but this is just a workaround to get the scripts working{% endcomment %}

<script>
function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

function make_cmd_function(url, sdata){
    function func(){
        var btn =  $(this)
        btn.prop('disabled', true);

        $.ajax({
            url: url,
            data: sdata,
            success: function (data, textStatus, jqXHR) {
                if ('error' in data) {
                    alert("server error for " + url + data['error'])
                }
                d = data
                var p_update = $('#p_jsresponse')
                var s = JSON.stringify(data, undefined, 4).replace(/(?: )/g, '&nbsp;').replace(/(?:\r\n|\r|\n)/g, '<br />');
                p_update.html("<pre><code>" + s + "</code></pre>")
                btn.prop('disabled', false);

                if ("conf" == sdata["cmd"]){}
                else if ("overview" == sdata["cmd"]){}
                else if (data['ison'] == true) {
                    btn.parent().parent().find('h3').css('color', 'lightgreen');
                }
                else if (data['ison'] == false) {
                    btn.parent().parent().find('h3').css('color', 'red');
                }
                else {
                    btn.parent().parent().find('h3').css('color', 'black')
                }

            },
            error: function (err) {
                e = err
                alert("ajax error for " + url + " error = " + err)
                btn.prop('disabled', false);
            }

        });
    }
    return func
}

$("#btn_status_overview").click(make_cmd_function("{% url "website.views.status" %}", {"cmd":"overview"}))
$("#btn_status_conf").click(make_cmd_function("{% url "website.views.status" %}", {"cmd":"conf"}))
$("#btn_status_update").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":". /home/pi/rpislave/update.sh"}))
$("#btn_status_setup").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":"sudo python /home/pi/rpislave/setup.py"}))

$("#btn_status_temp").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":"/opt/vc/bin/vcgencmd measure_temp"}))
$("#btn_status_df").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":"df -h"}))
$("#btn_status_pstree").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":"pstree -p -l"}))
$("#btn_status_psaux").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":"ps aux"}))

$("#btn_status_reboot").click(make_cmd_function("{% url "website.views.cmd" %}", {"cmd":"sudo reboot"}))

{% with cmd_list='start stop status' %}
    {% for app in app_info %}
        {% for cmd in cmd_list.split %}
            $("#btn_{{app.name}}_{{cmd}}").click(make_cmd_function("{% url "website.views.appmanage" %}", {"app":"{{app.name}}", "cmd":"{{cmd}}"}))
            {% if cmd == "status" %}
                $("#btn_{{app.name}}_{{cmd}}").click()
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endwith %}

$("#btn_status_conf").click()

</script>

<style>

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


</style>
{% endblock %}



